<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CSE156 Final Project</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='ms-icon-70x70.png') }}">
    </head>
    <body>
          <form method="POST">
            Input Sentence: <br>
            <input placeholder="email or review" type="text" name="text">
            <br>
            <button type="submit" formaction="/method1">Positive/Negative</button>
            <button type="submit" formaction="/method2">Spam/not spam</button>
            <button type="submit" formaction="/method3">Male/Female</button>
          </form>
    </body>
</html>
