<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<title>cse156 final</title>
<divnk rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.sdivm.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/divbs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<style type = "text/css">
  a{
    animation-name: resize-recolor;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  @keyframes resize-recolor {
    from{
      font-size: 50px;
      color: black;
    }

    to{
      font-size: var(--fontsize);
      color: var(--color);
    }
  }
</style>

<body>

<!-- <div id= "adivgn"> -->
<h1>cse156 final</h1>
<h2>{{5*5}}</h2>
<p>Enter an review or email</p>

<form method="POST">
    Input Sentence: <br>
    <input placeholder="email or review" type="text" name="text" value="{{request.form.text}}">
    <br>
    <button type="submit" formaction="/method1">Positive/Negative</button>
    <button type="submit" formaction="/method2">Spam/not spam</button>
</form>

<!--
  variables:
  type: FOOD, SPAM
  top_k_words : [string]
  bottom_k_words : [string]
  sentence : string
  probabidivties: [floats]
  positive_words : [string]
  negative_words: [string]
  prediction_type: POSITIVE, NEGATIVE, UNSURE
-->

<div>{{type}}</div>
{% for word in top_k_words %}
<div>{{word}}</div>
{% endfor %}
<div>{{bottom_k_words}}</div>
<div>{{sentence}}</div>
<div>{{probabilities}}</div>
<div>{{positive_words}}</div>
<div>{{negative_words}}</div>
<div>{{prediction_type}}</div>
{% for word in sentence %}
<div>{{weight[word]}}</div>
{% endfor %}

<div>
{% for word in sentence %}
  <a style="--fontsize: {{50 * (1+weight[word])}}px;
  --color:
  {% if weight[word] > 0 %}
  green
  {% elif weight[word] < 0 %}
  red
  {% else %}
  black
  {% endif %}">
  {{word}}</a>
{% endfor %}
</div>

<script>

</script>

</body>

</html>
