<!DOCTYPE html>

<html>
<head>

<meta charset="utf-8">
<title>cse156 final</title>
<!-- <divnk rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.sdivm.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/divbs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</head>

<style type = "text/css">
  a.sentence{
    animation-name: resize-recolor;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  @keyframes resize-recolor {
    from{
      font-size: 50px;
      color: black;
    }

    to{
      font-size: var(--fontsize);
      color: var(--color);
    }
  }
</style>

<script>
function showMe(div) {
    var chbox = document.getElementById("c1");
    var vis = "hidden";
    if(chbox.checked){
      vis = "visible"
    }
    document.getElementById(div).style.visibility = vis;
}
</script>

<body>

<!-- <div id= "adivgn"> -->
<h1>cse156 final</h1>
<p>Enter a review or email</p>

<div>
{% for word in sentence %}
  <a class="sentence" style="
  {% if weight[word] > 0 %}
  --fontsize: {{50 * (1+weight[word])}}px;
  --color: green
  {% elif weight[word] < 0 %}
  --fontsize: {{50 * (1+(weight[word]/2))}}px;
  --color: red
  {% else %}
  --fontsize: {{50 * (1+weight[word])}}px;
  --color: black
  {% endif %}">
  {{word}}</a>
{% endfor %}
</div>

<h3>overall prediction: {{prediction_type}}</h3>
{% if prediction_type == "FOOD" %}
<h4>predicted <a style="color:red">negative</a> with {{probabilities[0][0]}} probability, <a style="color:green">positive</a> with {{probabilities[0][1]}} probability</h4>
{% else %}
<h4>predicted <a style="color:red">NOT SPAM</a> with {{probabilities[0][0]}} probability, <a style="color:green">SPAM</a> with {{probabilities[0][1]}} probability</h4>
{% endif %}

<form method="POST">
    Input Sentence: <br>
    <input placeholder="email or review" type="text" name="text" value="{{request.form.text}}">
    <br>
    <button type="submit" formaction="/method1">Positive/Negative</button>
    <button type="submit" formaction="/method2">Spam/not spam</button>
</form>

<!--
  variables:
  type: FOOD, SPAM
  top_k_words : [string]
  bottom_k_words : [string]
  sentence : string
  probabidivties: [floats]
  positive_words : [string]
  negative_words: [string]
  prediction_type: POSITIVE, NEGATIVE, UNSURE
-->
<form>
<input type="checkbox" id="c1" name="c1" onclick="showMe('verbose')">verbose
</form>

<div id="verbose" style="visibility:hidden">
  <div>type: {{type}}</div>
  <hr>
  <div>sentence:</div>
  {% for i in range(sentence|length) %}
  {{sentence[i]}}:{{sentence_coeff[i]}}&nbsp
  {% endfor %}
  <div>probabilities: {{probabilities}}</div>
  <div>positive words: {{positive_words}}</div>
  <div>negative words: {{negative_words}}</div>
  <div>prediction type: {{prediction_type}}</div>
  <div>relative weights: {{weight}}</div>
  <hr>
  <div>top 8 words:</div>
  {% for i in range(1,9) %}
  <div>{{top_k_words[-i]}}: {{top_k_coeff[-i]}}</div>
  {% endfor %}
  <hr>
  <div>bottom 8 words:</div>
  {% for i in range(8) %}
  <div>{{bottom_k_words[i]}}: {{bottom_k_coeff[i]}}</div>
  {% endfor %}

  <!-- <hr>
  coefficients:
  <div>sentence: {{sentence_coeff}}</div>
  <div>top k: {{top_k_coeff[-8:]}}</div>
  <div>{{bottom_k_coeff[:8]}}</div> -->
</div>



</body>

</html>
